<tr data-crn='{{CRN}}'>
	<td>{{bool Registered}}</td>
	<td>{{CRN}}</td>
	<td>{{Course}} - {{Title}}</td>
	<td>{{Type}}</td>
	<td>{{Cr}}</td>
	<td>{{Seats}}/{{Capacity}}</td>
	<td>{{Instructor}}</td>
	<td>{{Days}}</td>
	<td>{{Begin}}</td>
	<td>{{End}}</td>
	<td>{{Location}}</td>
</tr>