<tr data-crn='{{CRN}}'>
	<td>{{bool Registered}}</td>
	<td>
	{{#if Link}}
		<a class="show-details" href={{Link}} target="_blank">{{CRN}}</a>
	{{else}}
		{{CRN}}
	{{/if}}
	</td>
	<td>{{Course}} - {{Title}}</td>
	<td>{{Type}}</td>
	<td>{{Cr}}</td>
	<td>{{Seats}}/{{Capacity}}</td>
	<td>{{Instructor}}</td>
	<td>{{Days}}</td>
	<td>{{Begin}}</td>
	<td>{{End}}</td>
	<td>{{Location}}</td>
</tr>